@import "../valo/valo.scss";

@mixin pheno {
  @include valo;

  /* An actual theme rule */
 .v-gridlayout-spacing-on {
     width: 20px;
     height: 20px;
 }
 .termgrid .v-grid-cell {
     padding: 0px 5px;
     font-size: 10px;
 }

 .termgrid .v-button {
     width: 100%;
     padding: 0px 2px;
 }

 .termgrid .bt-termgrid {
   padding: 0px 0px;
 }

 .termgrid .v-grid-cell {
}

.owlkey {
  color: blue;
}

}
